<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Registrar</title>
    </head>
    <body>
        <h2>Student Name: {{ student.getName }}</h2>
        <h2>Enrollment Date: {{ student.getAdmissionDate }}</h2>
        {% if courses is not empty %}
            <h3>Current Course:</h3>
            {% for course in courses %}
                <li> <a href="/editcourse/{{course.getId}}">{{course.getCourseName}}</a></li>
            {% endfor %}
        {% endif %}

        <h2>Add a Course</h2>
        <form class="" action="/addcourse" method="post">
            <input type="hidden" name="student_id" value="{{student.getId}}">
            <label for="addcourse">Currently available courses</label>
            <select class="form-groups" name="addcourse">
                {% for currentcourse in currentcourses %}
                    <option value="{{currentcourse.getId}}">{{currentcourse.getCourseName}}</option>
                {% endfor %}
            </select>
            <button type="submit" name="button">add course</button>
        </form>

        <h2>Edit this student's details:</h2>
        <form class="" action="/editstudent" method="post">
            <input type="hidden" name="_method" value="patch">
            <input type="hidden" name="student_id" value="{{student.getId}}">
            <label for="student_name">New Name:</label>
            <input type="text" name="student_name" value="{{student.getName}}">
            <label for="admission_date"></label>
            <input type="text" name="admission_date" value="{{student.getAdmissionDate}}">
            <button type="submit" name="button">Submit Changes</button>
        </form>
    </body>
</html>
